<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="LinGUIne.extensions.IFileImporter" name="IFileImporter" schema="schema/LinGUIne.extensions.IFileImporter.exsd"/>
   <extension-point id="LinGUIne.extensions.IAnalysisPlugin" name="IAnalysisPlugin" schema="schema/LinGUIne.extensions.IAnalysisPlugin.exsd"/>
   <extension-point id="LinGUIne.extensions.IVisualizationProvider" name="IVisualizationProvider" schema="schema/LinGUIne.extensions.IVisualizationProvider.exsd"/>
   <extension-point id="LinGUIne.extensions.IVisualization" name="IVisualization" schema="schema/LinGUIne.extensions.IVisualization.exsd"/>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="LinGUIne"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/LinGUIne/css/appStyle.css">
         </property>
         <property
               name="appName"
               value="LinGUIne">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://LinGUIne/LinGUIne.lifecycle.LifeCycleManager">
         </property>
      </product>
   </extension>

</plugin>
